<h2>Edit group</h2>

<%= form_for(current_group, url: group_url, method: :put) do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>
