<%= render partial: 'shared/header', locals:{ title: current_group.title } %>
<div class="content row">
  <div class="links col-xs-9">
    <div class="submit-link">
      <%= render partial: 'shared/links/new' %>
    </div>
    <%= render partial: 'shared/links', locals: { links: @links } %>
  </div>
  <div class="col-xs-3">
    <%= render partial: 'shared/sidebar', locals: {
      top_links: [
        {
          text: 'Edit Group',
          url: edit_group_url,
          disabled: !can_edit_group
        },
        {
          text: t('groups.new_group'),
          url: new_group_url
        }
      ],
      bottom_links: [
        {
          text: '© 2017 Foobar'
        }
      ]
    } %>
  </div>
</div>
