<ul class="links container">
  <% links.each do |link| %>
      <li>
        <!-- TODO preview link -->
        <a href="<%= link.url %>" target="_blank"><%= link.url %></a>
      </li>
  <% end %>
</ul>
