<% items.each do |item| next if item[:disabled] && !item[:always_show] %>
<div class="menu-item<%= (item[:disabled] ? ' disabled': '') %>">
  <%= link_to item[:text], item[:url], :method => item[:method] || 'get' %>
  <% if item[:badge].present? %>
      <span class="badge"><%= item[:badge] %></span>
  <% end %>
</div>
<% end %>
