<div class="sidebar-gutter"></div>
<div id="sidebar-gutter-bar" class="glyphicon glyphicon-option-vertical"></div>
<div class="sidebar-gutter"></div>
<script>
//  $('#sidebar-gutter-bar').click(function(){
//    $('#main').toggleClass('collapsed');
//  });
</script>
