<div class="main">
  <div class="sidebar">
    <%= render partial: 'shared/sidebar', locals: {
      menu: [
        {
          text: 'Homepage',
          url: homepage_url,
          badge: 42 # todo
        },
        {
          text: 'My Profile',
          url: edit_author_registration_url,
          disabled: current_author.blank?,
          badge: 24 # todo
        },
        {
          text: t('groups.new_group'),
          disabled: current_author.blank?,
          always_show: true,
          url: new_group_url
        },
        {
          text: 'Sign Up',
          url: new_author_registration_url,
          disabled: current_author.present?
        },
        {
          text: 'Sign Out',
          url: destroy_author_session_url,
          method: :delete,
          disabled: current_author.blank?
        }
      ]} %>
  </div>
  <div class="content">
    <%= render partial: 'shared/links' %>
  </div>
</div>
