<%= render partial: 'shared/header', locals: { title: t('page.title') } %>
<div class="content row">
  <div class="col-xs-2">
    <%= render partial: 'shared/groups', locals: { groups: @groups } %>
  </div>
  <div class="col-xs-8">
    <%= render partial: 'shared/links', locals: { links: @links } %>
  </div>
  <div class="col-xs-2">
    <%= render partial: 'shared/sidebar', locals: {
      top_links: [
        {
          text: t('groups.new_group'),
          url: new_group_url
        }
      ],
      bottom_links: [
        {
          text: '© 2017 Foobar'
        }
      ]} %>
  </div>
</div>
