<div id="main">
  <div class="sidebar">
    <%= render partial: 'shared/sidebar', locals: {
      menu: [
        {
          text: 'Homepage',
          url: homepage_url,
          badge: 42 # todo
        },
        {
          text: 'My Profile',
          url: edit_author_registration_url,
          disabled: current_author.blank?,
          badge: 24 # todo
        },
        {
          text: 'Sign Up',
          url: new_author_registration_url,
          disabled: current_author.present?
        },
        {
          text: 'Sign Out',
          url: destroy_author_session_url,
          method: :delete,
          disabled: current_author.blank?
        }
      ]} %>
  </div>
  <%= render partial: 'shared/sidebar_gutter' %>
  <div class="content">
    <div class="submit-link">
      <%= render partial: 'shared/links/new' %>
    </div>
    <%= render partial: 'shared/links' %>
  </div>
</div>
