<h2>New link</h2>

<%= form_for(:link, url: group_links_url) do |f| %>
    <div class="field">
      <%= f.label :url %><br />
      <%= f.text_field :url, autofocus: true %>
    </div>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>
