<%= form_for(:link, url: group_links_url(current_group.code)) do |f| %>
    <div class="field row">
      <div class="col-xs-8">
        <%= f.text_field :url, placeholder: 'Paste URL here' %>
      </div>
    </div>
<% end %>
