/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.flash-message
{
    margin:0;
}
a:hover
{
    text-decoration: none;
    color: #337ab7;
}
.row
{
    margin:0;
}

.row > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.content
{
    padding: 7px;
}
.submit-link input[type="submit"]
{
    border: none;
    background: none;
}
.submit-link input#link_url
{
    width:100%;
}
.submit-link .progress
{
    margin-top:4px;
    margin-bottom:0;
}
.submit-link
{
    padding-bottom: 4px;
}
.page-title h1
{
    font-size: 22px;
    margin: 0;
}
.links .image-container,
.links .video-container
{
    max-height: 200px;
    overflow: hidden;
}
.links .link
{
    padding: 3px 0;
}
.links .link:not(:last-child),
.links .active:not(:last-child)
{
    border-bottom: 1px solid #eee;
}
.links .link:hover:not(:last-child),
.links .link:active:not(:last-child)
{
    border-bottom: 1px solid #ddd;
}
.links .link:hover,
.links .link:active
{
    background-color:#fbfbfb;
}
.links .image-container img,
.links .video-container video
{
    width: 100%;
}
.links .title-container,
.links .description-container
{
    padding: 7px;
}
