/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
label{
    font-size: 11px;
}
.flash-message
{
    margin:0;
}
.flash-message .alert
{
    margin-bottom:7px;
}
a:hover
{
    text-decoration: none;
    color: #337ab7;
}
.row
{
    margin:0;
}
.row > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.upload-icon
{
    position: absolute;
    right: 13px;
    top: 13px;
}

.sidebar
{
    width: 300px;
    float: left;
    height: 100%;
    height: 100vh;
    border-right: 2px solid #f1f1f1;
    padding: 7px;
}

.content
{
    min-width:500px;
    padding: 7px;
    margin-left: 300px;
    position: relative;
}
.menu
{
    margin-top: 7px;
}
.menu .menu-item.disabled a
{
    color:#c3c3c3;
}
.menu .menu-item
{
    padding:4px 0;
}
.menu .menu-item .badge
{
    float: right;
}
.search
{
    position:relative;
    margin-top: 7px;
}
.search .search-icon
{
    position: absolute;
    right: 5px;
    top: 5px;
}
.search input[type="text"],
.login input[type="password"],
.login input[type="text"]
{
    width:100%;
}

.login input[type="submit"]
{
    margin-top: 4px;
    float: right;
    font-size: 11px;
}

#links-container
{
    float: left;
    width: 100%;
    max-width: 1500px;
}
.submit-link input[type="submit"]
{
    border: none;
    background: none;
}
.submit-link input#link_url
{
    width:100%;
}
.submit-link .progress
{
    margin-top:4px;
    margin-bottom:0;
}
.submit-link
{
    padding-bottom: 4px;
}
.title h1
{
    font-size: 22px;
    margin: 0;
}
.content .image-container,
.content .video-container
{
    max-height: 200px;
    overflow: hidden;
}
.content .link
{
    padding: 3px 0;
}
.content .link:not(:last-child),
.content .active:not(:last-child)
{
    border-bottom: 1px solid #eee;
}
.content .link:hover:not(:last-child),
.content .link:active:not(:last-child)
{
    border-bottom: 1px solid #ddd;
}
.content .link:hover,
.content .link:active
{
    background-color:#fbfbfb;
}
.content .image-container img,
.content .video-container video
{
    width: 100%;
}
.content .title-container,
.content .description-container
{
    padding: 7px;
}
