/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 Page title
*/
.title h1
{
    font-size: 22px;
    margin: 0;
}

/*
 Upload form
*/
.upload-icon
{
    position: absolute;
    right: 6px;
    top: 6px;
}
.upload-icon.glyphicon-download-alt
{
    color: #7bad5d;
    cursor: pointer;
}
.upload-icon.glyphicon-lock
{
    color: #b94934;
}

/*
 Quick links menu
*/
.menu
{
    margin-top: 7px;
}
.menu .menu-item.disabled a
{
    color:#c3c3c3;
}
.menu .menu-item
{
    padding:4px 0;
}
.menu .menu-item .badge
{
    float: right;
}

/*
 Sidebar forms
*/
.search
{
    position:relative;
    margin-top: 7px;
}
.search .search-icon
{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #4481c5;
    cursor: pointer;
}
.search input[type="text"],
.login input[type="password"],
.login input[type="text"],
.register input[type="password"],
.register input[type="text"]
{
    width:100%;
}
.register input[type="submit"],
.login input[type="submit"]
{
    margin-top: 4px;
    float: right;
    font-size: 11px;
}
.submit-link input[type="submit"]
{
    border: none;
    background: none;
}
.submit-link input#link_url
{
    width:100%;
}
.submit-link .progress
{
    margin-top:4px;
    margin-bottom:0;
}
.submit-link
{
    padding-bottom: 4px;
    position: relative;
}

/*
 Links and main content
*/
#links-container
{
    float: left;
    width: 100%;
    max-width: 1500px;
}
.content
{
    min-width:500px;
    padding: 7px;
    margin-left: 309px;
}
.collapsed .content
{
    margin-left: 9px;
}
.content .image-container,
.content .video-container
{
    max-height: 200px;
    overflow: hidden;
}
.content .link
{
    padding: 3px 0;
    cursor: pointer;
}
.content .link:not(:last-child),
.content .active:not(:last-child)
{
    border-bottom: 1px solid #eee;
}
.content .link:hover:not(:last-child),
.content .link:active:not(:last-child)
{
    border-bottom: 1px solid #ddd;
}
.content .link:hover,
.content .link:active
{
    background-color:#fbfbfb;
}
.content .image-container img,
.content .video-container video
{
    width: 100%;
}
.content .title-container,
.content .description-container
{
    padding: 7px;
}
