

.sidebar
{
    width: 300px;
    float: left;
    height: 100%;
    height: 100vh;
    padding: 7px;
}
.collapsed .sidebar
{
    width:0;
    overflow:hidden;
    padding: 0;
}

.sidebar-gutter
{
    width: 1px;
    float: left;
    height: 100%;
    height: 100vh;
    border-top: 7px solid white;
    background: #e8e8e8;
    border-bottom: 7px solid white;
}

#sidebar-gutter-bar
{
    width: 7px;
    float: left;
    height: 100%;
    height: 100vh;
    position: inherit; /* fixes issue with glyphicon */
}

#sidebar-gutter-bar:before {
    top: 50%;
    position: relative;
    color: #d0d0d0;
    right: 3px;
    font-size: 14px;
}
